* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*------------------ common styles for the  page ------------------*/
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.capitalize {
  text-transform: capitalize;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
button {
  font-size: 18px;
}
/*------------------ header ------------------*/
.header {
  width: 100%;
  padding: 24px;
}
.header-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-btn {
  padding: 16px 32px;
  background-color: #13183f;
  border: none;
  outline: none;
  border-radius: 28px;
  color: #ffffff;
  z-index: 7;
}
/*------------------ first section ------------------*/
.section1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1-wrapper {
  display: flex;
  gap: 200px;
  justify-content: space-between;
  align-items: center;
}
.left-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  max-width: 544px;
}
.left-wrapper h1 {
  color: #13183f;
  font-weight: bolder;
  font-size: 56px;
}
.left-wrapper p {
  color: #83869a;
  font-size: 18px;
  max-width: 457px;
}
.main-btn2 {
  padding: 16px 32px;
  background: linear-gradient(to bottom, #ff6f48, #f02aa6);
  border: none;
  outline: none;
  border-radius: 28px;
  color: #ffffff;
}
.img-div {
  position: relative;
  background: linear-gradient(to bottom, #ff6f48, #f02aa6);
  height: 560px;
  width: 317px;
  border-radius: 158.5px;
  z-index: 1;
}
.absolute-img {
  position: absolute;
  bottom: -5px;
  left: -14px;
  border-radius: 45%;
  height: 483px;
  z-index: 2;
}
.absolute-div {
  position: absolute;
  bottom: 180px;
  right: 160px;
  height: 1008px;
  width: 317px;
  border-radius: 158.5px;
  transform: rotate(45deg);
  background: linear-gradient(to bottom, #4851ff, #f02aa6);
  z-index: 0;
}
/* ------------------  small divs styles ------------------ */
.hrs,
.mmbrs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  padding: 22px 72px 22px 22px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 15px;
  z-index: 7;
}
.hrs {
  top: 50%;
  right: 35%;
}
.mmbrs {
  right: 15%;
  top: 22%;
}
.hrs p {
  font-size: 16px;
  color: #83869a;
}
.number {
  color: #13183f;
  font-size: 40px;
  font-size: 40px;
  font-weight: bolder;
}
/* ------------------ Section2 /*------------------*/
.section2 {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  margin-top: 64px;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-items: center;
  align-content: center;
  grid-gap: 56px;
  padding: 30px;
}
.diff-card {
  background: linear-gradient(to bottom, #ff6f48, #f02aa6);
  padding: 64px 32px 144px 32px;
  border-radius: 16px;
  max-width: 352px;
}
.diff-card h4 {
  font-size: 32px;
  color: #ffffff;
  font-weight: bolder;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-gap: 24px;
  background-color: #ffffff;
  padding: 64px 32px;
  max-width: 352px;
  border-radius: 16px;
  box-shadow: 0px 25px 50px 0px #06168d0b;
}
.card span {
  width: 56px;
  height: 56px;
  padding: 19px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #ff6f48, #f02aa6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: -20px;
  left: 32px;
}
.card h5 {
  font-size: 24px;
  font-weight: bolder;
  color: #13183f;
}
.card p {
  font-size: 18px;
  color: #83869a;
}
.card a {
  color: #f74780;
  margin-top: 24px;
  font-size: 18px;
  font-weight: bold;
}
/*------------------ FOOTER ------------------*/
.footer {
  background-color: #13183f;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-btn {
  background: linear-gradient(to bottom, #4851ff, #f02aa6);
  border: none;
  border-radius: 16px;
  padding: 16px 32px;
}
