/*---------------  reset  ---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*--------------- general styles --------------- */
body {
  width: 100%;
  height: 100vh;
  background-color: #19a1ae;
  font-family: "Kumbh Sans", sans-serif;
  overflow: hidden;
}
/*--------------- Fonts ---------------*/
.uppercase {
  text-transform: uppercase;
}
h1 {
  font-size: 18px;
  font-weight: bold;
}
.age {
  color: #6b7082;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  font-family: inherit;
}
.number {
  font-weight: 700;
  color: #2e3349;
}
.indicator {
  color: #6b7082;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
}
.location {
  color: #6b7082;
  font-size: 14px;
  line-height: 125%;
}
/* --------------- Main sections styling ---------------*/
main {
  display: block;
  justify-content: center;
  align-items: center;
}
.main-section {
  margin-top: 200px;
}
.card-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  height: 23.375rem;
  border-radius: 16px;
  background-color: #ffffff;
  position: relative;
  z-index: 5;
  box-shadow: 4px 4px 10px rgba(46, 51, 73, 0.3);
}
.bg-div {
  width: 100%;
  height: 9.25rem;
  border-radius: 16px 16px 0 0;
  background-color: #19a1ae;
  background-image: url(images/bg-img.svg);
  background-repeat: no-repeat;
}
.img-div {
  background-color: #ffffff;
  position: absolute;
  bottom: 50%;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.img-div img {
  border-radius: 50%;
  height: 5.5rem;
}
.content-div {
  width: 100%;
}
.heading-div {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  align-items: center;
  gap: 0.5rem;
}
.heading {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr, 0.5fr;
  grid-template-areas:
    "name age"
    "london london";
  align-items: center;
  gap: 1rem;
}
.location {
  /* grid-template-columns: 1fr; */
  grid-column: 1/-1;
}
.name {
  text-align: center;
}
.last-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #e8e9ec;
  padding: 25px;
}
.rating-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.circle {
  height: 976px;
  width: 976px;
  /* background-color: red; */
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  box-shadow: 4px 4px 10px rgba(46, 51, 73, 0.3);
}
.circle1 {
  top: -55%;
  left: -1%;
  bottom: 50%;
  background: linear-gradient(
    to right,
    rgba(32, 173, 183, 0.3),
    rgba(35, 175, 186, 0.6)
  );
  transform: rotate(90deg);
}
.circle2 {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(32, 173, 183, 0.3),
    rgba(35, 175, 186, 0.6)
  );
  transform: rotate(45deg);
  bottom: -45%;
}
.skilled {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.skilled a {
  padding: 20px;
  text-decoration: none;
  background-color: #2e3349;
  color: #19a1ae;
  font-size: 36px;
  border-radius: 16px;
  z-index: 5;
  transition: all 0.3s ease;
}
.skilled a:hover {
  background-color: #043f44;
  color: #ffffff;
}
.info-p {
  font-size: 24px;
  text-decoration: underline;
  color: #2e3349;
  float: left;
  z-index: 5;
}
